body{
  background: #eee;
  font-size: 40;
}
.grid {
    display:grid;
    grid-template-columns:1fr 2fr 2fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.grid > div {
    background: #ddd;
    padding:1em;
}
.grid > div:nth-child(odd){
    background:#eee;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 6vw;

}
h2 {
    display: block;
    font-size: 5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3{
  font-size: 3em;
}
.artext{
  font-size: 2em;
}
.artkuva{
  width: 40%;
  height: auto;
  float: right;
}
button{
  font-size: 35px;
}


a{
    width: auto;
    height: auto;
}
iframe{
    height: auto;
    border: 1px solid black;
}
.kuva{
  width: 60%;
  height: auto;

}
.box1{
    grid-column: 2/4;
    grid-row: 2/footer;
    width: 100%;
    height: auto;



}
.webraport2{
  font-size: 2em;
}
.planering{
  width: 60%;
  height: auto;
}
.pic123{
  width: 60%;
  height: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
}
li a {
    display: block;
    width: auto;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
