.grid {
    display:grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
    grid-template-rows:1fr 2fr 1fr;
    
}
.grid > div {
    background: #ddd;
    padding:1em;
}
.grid > div:nth-child(odd){
    background:#eee;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 6vw;
}
a{
    width: auto;
    height: auto;
}
iframe{
    height: auto;
    border: 1px solid black;
}
.box1{
    grid-column: 2/4;
}